/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*****************************************************************************************************
                MAIN STYLES
******************************************************************************************************/
.container{
    background: white;
    max-width:1200px; /* max-width ensures your site won't expand forever */
    margin:0 auto; /* margin auto on the left and right centers the object on the screen */
}

body{
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

p{
    font-size: 12pt
}

h1{
    font-size: 3.5em;
    font-weight:bold;
}

h2{
    font-size: 3em;
    font-weight:bold;
}

h3{
    font-size: 2em;
    font-weight: bold;
}

h4{
    font-size: 1em;
    font-weight: bold;
}



/*************************************************************************
NAV BOX
**************************************************************************/


.navbox{
background:black;
padding:10px;
}

.logo{
    background:#c78c06;
}

nav a{
    display:block; /* to make it look like buttons with a width and height */
    background:black;
    padding: 1em 0; /* two values means: top-bottom, left-right */
    text-align:center;
    text-decoration:none;   
    color:#c78c06;
}
/* the following centers the box containing the search bar and spreads it to the edges of the page,
 minus a 10 px margin on the sides and bottom */
.searchbar{;
padding: 0 10px 10px 10px;
background:black;
}

.searchbar form{
    display:flex;
}

.searchbar form input{
    flex-grow:1; /* flex grow lets the search bar's input bar grow to be as big as the page will allow */
}

/* the following styles the search button, removing the background colour from it and changing the colour of the border
and search icon to orange */
.searchbutton{
    color:#c78c06;
    background:none;
    border:2px solid #c78c06;
}

/* and a hover and an active state - hover for anything with a cursor, active for touch screens */
nav a:hover, nav a:active{
    background:hsl(0, 0%, 22%);
}

nav .current a{
    background:#c78c06;
    color:black;

}


/*************************************************************************
WELCOME BOX
**************************************************************************/


/* I googled how to make the text display on top of my image in CSS and copied the code from there. The .welcomebox img
has width and height controls so it stretches or shrinks to fit the site's size properly. objectfit:cover forces the image to scale
without being distorted, supposedly */

header img{
  width: 100%;
  height: 100%; 
 position: absolute;
}

/* for .welcome box, the position: relative tag keeps the absolute child confined within the box. */ 
header{
  position: relative; /* Keeps the absolute child restricted inside this box */   
  overflow: hidden;  /* Prevents any image overflow */
  color:white;
}


/* the welcome text styling adds the transparent black bg behind the text in addition to styling its size */
.welcometext{
    position:relative;
    z-index:3;
    margin-top:10%;
    margin-bottom:10%;
    padding:10px;
    background:rgba(0, 0, 0, 0.477);
}

.welcometext h1{
    line-height:150%; /* added more space between the lines in the h1 welcome */
    margin-bottom:20px;
}

.welcometext button{
    display:flex; 
    padding:20px;
    margin-top:10px;
    font-size:16pt;
}


/* the new span targeting below was because when the text was targeted as part of the arrow object, it sat at the
top of the arrow's box rather than being properly centered. */
.welcometext button span{
    display:flex;
    align-items:center;
}

.connectwithus{
    color:black;
    background:#c78c06;
    border:none;
    
    
}

.welcometext button:hover, welcometext button:active{
    background:#644703;
    
}

/************************************************************************************************
ABOUT BOX
*****************************************************************************************************/

/*next I will style the about box div. it requires a beige background with the image and text elements
placed on top with slight padding around each to push them away from the edges and each other */


.aboutbox{
    background:#ffe6ac;
    padding:10px;
}

.aboutbox img{
    width: 100%;
    height: 100%;
}

.aboutbox h2{
    margin-top:10px;
    margin-bottom:10px;
}

.aboutbox p{
    margin-bottom:10px;
}
/* the margins used here space the text out a bit to better match the mockup */


/*******************************************************************************************************
SERVICE BOX
********************************************************************************************************/

.servicebox{
    background:white;
    padding:10px;
}

.servicebox h2{
    margin-top:10px;
    margin-bottom:20px;
}

/* the following is css for the .digitrans class within the servicebox class */
.digitrans{
    background:#ffe6ac;
    padding-bottom:1px; /*adding this miniscule amount of padding to the bottom of this element fixed an error I was 
    having with the margin on my button not pushing it away from the bottom of the box */
}

.digitrans img{
    height:100%;
    width:100%;
}

.digitrans h3{
    padding:20px 10px 20px 10px;
}

.digitrans p{
    margin:10px;
}

.digitrans button{
    display:flex; 
    padding:20px;
    margin:10px;
    font-size:16pt;
}

.digitrans button span{
    display:flex;
    align-items:center;
}

.digitalplans{
    color:white;
    background:black;
    border:none;

}

.digitrans button:hover, digitrans button:active{
    background:#6f6f6f;
    
}



/* the following is css for the .marketing class within the servicebox class */
.marketing{
    background:#ffe6ac;
    margin-top:15px;
    padding-bottom:1px; /*adding this miniscule amount of padding to the bottom of this element fixed an error I was 
    having with the margin on my button not pushing it away from the bottom of the box */
}

.marketing img{
    height:100%;
    width:100%;
}

.marketing h3{
    padding:20px 10px 20px 10px;
}

.marketing p{
    margin:10px;
}

.marketing button{
    display:flex; 
    padding:20px;
    margin:10px;
    font-size:16pt;
}

.marketing button span{
    display:flex;
    align-items:center;
}

.marketingplans{
    color:white;
    background:black;
    border:none;

}

.marketing button:hover, marketing button:active{
    background:#6f6f6f;
    
}



/* the following is css for the .video class within the servicebox class */
.video{
    background:#ffe6ac;
    margin-top:15px;
    padding-bottom:1px; /*adding this miniscule amount of padding to the bottom of this element fixed an error I was 
    having with the margin on my button not pushing it away from the bottom of the box */
}

.video img{
    height:100%;
    width:100%;
}

.video h3{
    padding:20px 10px 20px 10px;
}

.video p{
    margin:10px;
}

.video button{
    display:flex; 
    padding:20px;
    margin:10px;
    font-size:16pt;
}

.video button span{
    display:flex;
    align-items:center;
}

.videoplans{
    color:white;
    background:black;
    border:none;

}

.video button:hover, video button:active{
    background:#6f6f6f;
    
}



/* the following is css for the .webdev class within the servicebox class */
.webdev{
    background:#ffe6ac;
    margin-top:15px;
    padding-bottom:1px; /*adding this miniscule amount of padding to the bottom of this element fixed an error I was 
    having with the margin on my button not pushing it away from the bottom of the box */
}

.webdev img{
    height:100%;
    width:100%;
}

.webdev h3{
    padding:20px 10px 20px 10px;
}

.webdev p{
    margin:10px;
}

.webdev button{
    display:flex; 
    padding:20px;
    margin:10px;
    font-size:16pt;
}

.webdev button span{
    display:flex;
    align-items:center;
}

.webplans{
    color:white;
    background:black;
    border:none;

}

.webdev button:hover, webdev button:active{
    background:#6f6f6f;
    
}



/* the following is css for the .print class within the servicebox class */
.print{
    background:#ffe6ac;
    margin-top:15px;
    padding-bottom:1px; /*adding this miniscule amount of padding to the bottom of this element fixed an error I was 
    having with the margin on my button not pushing it away from the bottom of the box */
}

.print img{
    height:100%;
    width:100%;
}

.print h3{
    padding:20px 10px 20px 10px;
}

.print p{
    margin:10px;
}

.print button{
    display:flex; 
    padding:20px;
    margin:10px;
    font-size:16pt;
}

.print button span{
    display:flex;
    align-items:center;
}

.printplans{
    color:white;
    background:black;
    border:none;

}

.print button:hover, print button:active{
    background:#6f6f6f;
    
}




/*************************************************************************
OUR VISION
**************************************************************************/

.vision img{
  width: 100%;
  height: 260px; 
  object-fit: cover;       /* Crops from the top and bottom while retaining scale */
  object-position: center;
}

/* for .welcome box, the position: relative tag keeps the absolute child confined within the box. */ 
.vision{
  position: relative; /* Keeps the absolute child restricted inside this box */
  width: 100%;
  max-width: 100%;  
  height: 100%;     
  overflow: hidden;  /* Prevents any image overflow */
  color:white;
}

.vistext{
    position:absolute;
}

.vistext{
    margin-top:10px;
    margin-bottom:10%;
    padding-left:10px;
    padding-right:10px;
    position: absolute; /* this forces the text box on top of the image */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    align-content:center;
}

.vistext h3{
    margin-top:10px;
    margin-bottom:30px;
}

.vistext p{
    margin-top:10px;
    margin-bottom:10px;
}

.vision button{
    display:flex; 
    padding:20px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:16pt;
}

.vision button span{
    display:flex;
    align-items:center;
}

.learnmore{
    color:white;
    background:black;
    border:2px, solid #c78c06;

}

.vision button:hover, vision button:active{
    background:#6f6f6f;
    
}


/***************************************************************************************
TEAM
*****************************************************************************************/

/* the following css will style the team section. I'm going to do it similarly to the services section,
a series of smaller boxes inside one larger container, this time without buttons and using a border-bottom
to add that orange underline*/

.team{
    background:white;
    padding:10px;
}

.team h2{
margin-top:20px;
margin-bottom:20px;
}

.team h3{
    margin:10px;
}

.team h4{

    border-bottom:2px solid #c78c06;
    margin:10px;
}

.johndoe{
    background:#ffe6ac;
}
.johndoe img{
    height:100%;
    width:100%;
}

.johndoe p{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    padding-bottom:10px;
}

.bobrite{
    background:#ffe6ac;
}
.bobrite img{
    height:100%;
    width:100%;
}

.bobrite p{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    padding-bottom:10px;
}



/********************************************************************************************
CONTACT
**********************************************************************************************/

.contact{
    margin:10px;
}

.contact h2{
    margin-top:40px;
    margin-bottom:20px;
}


.contact p{
    margin-top: 10px;
    margin-bottom:5px;
}


/* The following allows the form entry boxes to span the whole box */
.contact form input[type="text"],
.contact form input[type="email"],
textarea {
  width: 100%;
  
}

.contact button{
    display:flex; 
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:12pt;
}

.contact button span{
    display:flex;
    align-items:center;
}

.contactsend{
    color:#c78c06;
    background:black;
    border:2px, solid #c78c06;

}

.contact button:hover, contact button:active{
    background:#6f6f6f;
    
}



/**************************************************************************
HOURS
***************************************************************************/
/*I borrowed the following code from google. It is mostly stuff I used elsewhere but I was having 
trouble combining it correctly. I modified it a bit to make it match the mockup more.  */

.hours h3{
    margin-top:10px;
    margin-bottom:10px;
}

.hours, table {
  width: auto;
} 

/* 2. Re-establish text alignment and padding */
.hours table th {
  text-align: center;          
  padding:10px;
}

.hours, table, th, td {
  padding: 10px;        
  vertical-align: top;  
  text-align:left;    
}

.hours table tr {
  border-bottom: 1px solid black;
}

/* Optional: Full grid styling */
.hours table, th, td {
  border: 1px solid black;
}

thead th {
  background-color: #ffe6ac;
}

/*************************************************************************
LOCATION
***************************************************************************/

/*following this I style the location. It's pretty simple, just adding some padding
and setting the iframe's width to 100% so it scales properly */

.location {
    padding:10px;
}

.map iframe{
    width:100%;
}



/*******************************************************************************
FOOTER
**********************************************************************************/

/* the footer styling is pretty simple; a black box with orange text and some padding */

footer{
    background-color:black;
    color:#c78c06;
}

footer p{
    
    padding:10px;
    font-size: 10pt;
}




/********************************************************************************************
DESKTOP STYLES
*********************************************************************************************/


/*The following media query will allow me to override the site's mobile stylings
when the site is displayed wider than 760px */

@media screen and (min-width:760px){

    /*************************************
    NAV
    **************************************/

    nav{
        display:flex;
        width:100%;
        align-items:center;
        justify-content: center;
    }
    nav ul{
        display:flex;
    }

    .logo{
        margin:20px;
    }

    nav ul li{
        width: 100px;
    }

    nav ul{
        margin-left:20px;
    }

    /*****************************************
    WELCOME BOX
    ******************************************/
    

    .welcometext{
        margin-left:10%;
        margin-right:10%;
    }


    /******************************************
    ABOUT BOX
    ******************************************/

    .aboutbox{
        display:flex;
        justify-content: center;
    }

    .abouttext{
        margin-left:10px;
        width:40%;
    }

    .aboutbox img{
        width:40%;
    }

    /*************************************************
    SERVICES
    **************************************************/

    /* I'm going to use flexbox to style the desktop service section. I thought about using grid here,
    but with there being 2 wider boxes on top and 3 skinny below, it would mean doing more math than I wanted to.
    Instead I'm wrapping the header for it and the top two boxes in new divs and the bottom three in a new div, so that within
    those divs I can display flex but then have those 3 flexboxes separate from each other so one sits on top
    of the other. */

    .servicebox{
        width:80%;
    }

    .servicehead{
        margin-left:
    }

    .servicetop{
        display:flex;
        
    }

    .servicebtm{
        display:flex;
    }

    .digitrans{
        margin:5px;
    }

    .digitrans img{
        height:300px;
    }

    .marketing{
        margin:5px;
    }

    .marketing img{
        height:300px;
    }

   .video{
        margin:5px;
    }

    .video img{
        height:300px;
    }

    .digitrans button{
        width:96%;
    }

    .marketing button{
        width:96%;
    }
